<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Vehículo</title>
    <link rel="stylesheet" href="../view/buscar_vehiculostyles.css">
</head>
<body>
<form action="../controller/gestion_vehiculo.php" method="post">
    <h2>Buscar Vehículo por Placa</h2>
    Placa: <input type="text" name="placa" required><br>
    <input type="submit" value="Buscar">
</form>

<!-- Área para mostrar la información del vehículo y los botones -->
<div id="vehiculo-info">
    <!-- Los datos del vehículo y los botones aparecerán aquí -->
</div>

</body>
</html>
