<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="buscar_usuariostyles.css">
</head>
<body>
<div id="continerBU" class="container">
    <h2>Buscar Usuario por Número de Identificación</h2>
    <form action="../controller/gestion_usuario.php" method="GET">
        <label for="identificacion">Número de Identificación:</label>
        <input type="text" id="identificacion" name="identificacion" required>
        <button type="submit">Buscar</button>
    </form>
</div>
</body>
</html>
