<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Alquila tu vehículo YA!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/indexstyles.css">
</head>
<body>
<header>
    <h1 id="encabezado">Bienvenido a ¡Alquila tu vehículo YA!</h1>
</header>
<footer>
    <p>Derechos Reservados © 2024 !Alquila tu vehículo YA!</p>
</footer>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://e1.pxfuel.com/desktop-wallpaper/996/811/desktop-wallpaper-of-ford-mustang-shelby-gt-eleanor-1967-gt500-high-quality-ford-mustang-eleanor-1967.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://img.freepik.com/foto-gratis/moto-genial-al-aire-libre_23-2150849497.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnMFdDup_u9Dvr5J2hkmkUHEjiIOQYyCyVNQ&s" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Contenedor para los botones -->
<div id="containerbotones" class="container text-center mt-4">
    <a href="buscar_usuario.html" class="btn btn-primary btn-lg m-2">Buscar Usuario</a>
    <a href="registro_arrendatario.html" class="btn btn-success btn-lg m-2">Registrar Arrendatario</a>
    <a href="registrar_vehiculo.html" class="btn btn-warning btn-lg m-2">Registrar Vehículo</a>
    <a href="buscar_vehiculo.html" class="btn btn-info btn-lg m-2">Buscar Vehículo</a>
    <a href="contrato.html" class="btn btn-info btn-lg m-2">Contrato</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</body>
</html>
